# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the virtual environment directory
aienv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore pipenv files if using pipenv
Pipfile
Pipfile.lock

# Ignore pytest cache
.pytest_cache/

# Ignore venv/virtualenv directories
venv/
env/
ENV/
.venv/
